



{% extends "base.html" %}

{% block title %}Home Page{% endblock title %}

{% block content %}

{% load static %}
<div class="container bg-image mt-2 mb-2">

  <center>
    <h1 style="color: rgb(6, 150, 35); background-color: rgb(168, 255, 255); border-radius: 20px; width: 350px;" class="p-4">Reserviour Inflow Prediction Using AI</h1>
    <!-- <h1 style="color: rgb(6, 150, 35); background-color: rgb(168, 255, 255); border-radius: 20px; width: 350px;" class="p-4">Forecasting Rainfall: AI Approach for Precipitation Prediction</h1> -->

    
</center>


<div class="row">
    <div class="col col-md-4">
      <div class="d-grid gap-2 mt-4">
          <button type="button" class="btn btn-lg" style="background-color: rgb(28, 188, 206);font-weight: 600;color: rgb(92, 92, 92);" data-bs-toggle="modal" data-bs-target="#exampleModal">UPLOAD DATA</button>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn btn-lg" style="background-color: rgb(28, 206, 28);font-weight: 600;color: rgb(92, 92, 92);"  >ReInPAI</button>
          </div>
<!--           
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->
    </div>
    <div class="col col-md-4">
      <div class="d-grid gap-2 mt-4">
        <button type="button" class="btn btn-lg" style="background-color: rgb(28, 188, 206);font-weight: 600;color: rgb(92, 92, 92);" ><a href="{% static 'ReInPAI_manual.pdf'%}" target="_blank" style="text-decoration: none;color: black;"> Manual</a></button>
      </div>
    </div>
</div>

{% load static %}
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-4 "> <h5 style="color: wheat;">Courtesy : Google Images</h5></div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4" ></div>
    
    
    <div class="col-md-4 guide-section" >

      <!-- <strong>Developed by:</strong><br> -->
      <strong>Guide:</strong><br>
      Prof. Dr. V. Jothiprakash<br>
      <br><br>
    
     
    </div>
    <div class="col-md-4" style="border-radius: 20px;">
      <center>

        <div class="thumbnail">
          <img src="{% static 'iitb_logo1.png' %}" width="150px" style="background-color: aliceblue;border-radius: 20px;" class="img-fluid" alt="Responsive image">
        </div>
      </center>
    </div>
    

    <div class="col-md-3 guide-section">
      <strong>Developed by:</strong><br>
      Ram Kumar D <br>
      Shubham Jadhav<br>
      Aditya Malhotra
      
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<style>
  .guide-section {
    background-color: aliceblue;
    /* padding: 15px; */
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
</style>


<!-- 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-4" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); border-radius: 2mm; background-color: aliceblue;" >
          <form action="/model_selection" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              
              <strong>
                  <label for="date_format" style="font-weight: 300px;" class="mt-1">Date Format</label>
              </strong>
              <select name="date_format" id="date_format" class="form-select" aria-label="Date Format" required>
                  <option value="%d/%m/%Y" selected>DD/MM/YYYY (e.g., 06/05/2024)</option>
                  <option value="%Y/%m/%d">YYYY/MM/DD (e.g., 2024-05-06)</option>
                  <option value="%m/%d/%Y">MM/DD/YYYY (e.g., 05/06/2024)</option>
                  <!-- Add more options as needed -->
              </select>
              
              <strong>
                  <label for="date_sep" style="font-weight: 300px;" class="mt-1">Date Separator</label>
              </strong>
              <select name="date_sep" id="date_sep" class="form-select" aria-label="Date Format" required>
                  <option value="/" selected>/ </option>
                  <option value=".">. </option>
                  <option value="-">- </option>
                  <!-- Add more options as needed -->
              </select>
              
              <strong>
                  <label for="csv" style="font-weight: 300px;" class="mt-1" >Upload data in csv/xls/xlsx file format</label>
              </strong>
              <input type="file" name="csv_name" id="csv_id" accept=".csv, .xls, .xlsx" placeholder="" required />
              <p><span style="color: red;">*</span> CSV or Excel file should contain only 2 columns: Date and Discharge</p>
              <p></p>
            </div>
            
            
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <!-- <button type="submit" class="btn btn-primary" id="submitBtn">Upload!</button> -->
            <button type="submit" class="btn btn-lg" style="background-color: rgb(28, 206, 28);font-weight: 600;color: rgb(92, 92, 92);">UPLOAD DATA</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Image</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-4" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); border-radius: 2mm; background-color: aliceblue;" >
          <form action="" method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              
              <!-- <strong>
                  <label for="date_format" style="font-weight: 300px;" class="mt-1">Upload Image</label>
              </strong> -->
              
             
              
              <strong>
                  <label for="img" style="font-weight: 300px;" class="mt-1" >Upload Image in jpg/png/jpeg file format</label>
              </strong>
              <input type="file" name="img_name" id="img_id" accept=".jpg, .png, .jpeg" placeholder="" required />
              <!-- <p><span style="color: red;">*</span> CSV or Excel file should contain only 2 columns: Date and Discharge</p> -->
              <p></p>
            </div>
            
            
            
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <!-- <button type="submit" class="btn btn-primary" id="submitBtn">Upload!</button> -->
            <button type="submit" class="btn btn-lg" style="background-color: rgb(28, 206, 28);font-weight: 600;color: rgb(92, 92, 92);">UPLOAD DATA</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
