{% extends "base.html" %}

{% block title %}Output {% endblock title %}

{% block content %}


{% load static %}

<style>
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
      }
      th, td {
        background-color: #a9d6d6;
      }
</style>

<div class="container">

    <center>
    
  
 <img src="{% static 'plots/ml_train.png'%}" alt="">

    <img src="{% static 'plots/ml_test.png'%}" alt="">
</center>
    </div>


    <center>

    
    <div class="container my-4">

        <table>
 
            <thead>
              <tr>
                {% for col in df_metric.columns %}
                  <th>{{ col }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for index, row in df_metric.iterrows %}
              <tr>
                {% for value in row %}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
        
          
          </table>
          
    </div>

    <div class="container">

      <center>
      
    
   <img src="{% static 'plots/ml_pred.png'%}" alt="">
  
    
  </center>
      </div>
    <h1>Predictions for Future 30 days</h1>
    <div class="container my-4">

      <table>

          <thead>
            <tr>
              {% for col in df_pred.columns %}
                <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for index, row in df_pred.iterrows %}
            <tr>
              {% for value in row %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
      
        
        </table>
        
  </div>
</center>
{% endblock content %}